faiss-cpu
graphviz
ipywidgets
matplotlib
networkx
numpy
openai==0.27.8
anthropic 
pandas
plotly
seaborn
tqdm
duckdb
snowflake-connector-python
matplotlib_venn
geopandas==0.14.1
rasterio
pyproj
shapely
scipy
chardet
openpyxl
xlrd
chardet
datasketch
bs4
jinja2