faiss-cpu
graphviz
ipywidgets
matplotlib
networkx
numpy
openai
anthropic 
pandas
seaborn
tqdm
duckdb
snowflake-connector-python
matplotlib_venn
scipy
chardet
openpyxl
xlrd
chardet
datasketch
bs4
jinja2
boto3
pyodbc
sqlglot
ruamel.yaml
db-dtypes
google-cloud-bigquery
streamlit
