faiss-cpu
graphviz
ipywidgets
matplotlib
networkx
numpy
openai==0.27.8
anthropic 
pandas
seaborn
tqdm
duckdb
snowflake-connector-python
matplotlib_venn
chardet
openpyxl
xlrd
chardet
datasketch
bs4
jinja2
boto3